<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600" id="<%= dom_id kosan %>">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Nama :<%= kosan.nama %></div>
  </th>
  <td class="px-6 py-4">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Deskripsi :<%= kosan.description %></div>
  </td>
  <td class="px-6 py-4">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Alamat : <%= kosan.alamat %></div>
  </td>
  <td class="px-6 py-4">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Provinsi : <%= kosan.provinsi %></div>
  </td>
  <td class="px-6 py-4">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Dibuat pada : <%= kosan.created_at.strftime("%d %B %y") %></div>
  </td>
  <td class="px-6 py-4">
    <div class="bg-gray-200 mt-3 p-2 rounded-lg">Di ubah pada : <%= kosan.updated_at.strftime("%d %B %y") %></div>
  </td>
</tr>
