<%= render 'layouts/components/breadcumb', params: [
  ["Kosan ku", nil]
] %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">List Kosan</h1>
    <%= link_to 'New kosan', new_kosan_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Nama
          </th>
          <th scope="col" class="px-6 py-3">
            Deskripsion
          </th>
          <th scope="col" class="px-6 py-3">
            alamat
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody id="kosans">
        <% @kosans.each do |kos| %>
          <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600" id="<%= dom_id kos %>">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <%= kos.nama %>
            </td>
            <td class="px-6 py-4"><%= kos.description %></td>
            <td class="px-6 py-4"><%= kos.alamat %></td>
            <td class="px-6 py-4"><%= link_to 'Lihat', kos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
